@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --black: #333 ;
    --light-color: #F9F3D9; 
    --orange: #FEB511;
    --red: #5D1114;
    --dark-red: #220F0B; 
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--dark-red);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);

}
.logo {
    max-width: 15%;
    height: auto;
}

.navbar a {
    font-size: 1.7rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
    border: 0.1rem solid transparent;
}
.navbar a.active, 
.navbar a:hover {
    color: #fff;
    border: 0.1rem solid rgba(205,170,124,0.2);
}

.icons i {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: var(--light-color);
    text-align: center;
    font-size: 1.7rem;
    color: var(--red);
}
.icons i:hover {
    color: #fff;
    background: transparent;
}
.icons #menu {
    display: none;
}
/* navbar styling ends */

/* hero styling */
.home {
    background: url(grafik/ivan-vashchenko-j59VBTAGBi8-unsplash\ \(kopia\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    object-fit: contain;
    text-align: center;
}
.content-section {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-color);
}
.content-section h1, h2 {
    font-weight: 300;
}
.content-section h1 {
    font-size: 2.7rem;
}
.content-section h2 {
    font-size: 3rem;
}
.content-section a {
    font-weight: 200;
    font-size: 1.8rem;
}
.content-section .btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--light-color);
    background: transparent;
    border: #333 solid 0.1rem;
    box-shadow: 0.4rem 0.4rem rgba(0,0,0,.1);
    cursor: pointer;
    padding: 0.8rem 3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.content-section .btn:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--dark-red);
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.5s;
}
.content-section .btn:hover.btn:before {
    left: 0;
}
/* hero styling ends */

/* welcome styling */
.welcome {
    padding: 8rem 9%;
}
.heading {
    text-align: center;
    color: var(--dark-red);
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.welcome .box-container {
    display: flex;
    gap: 1.5rem;
}
.welcome .box-container .box {
    width: 33%;
    background: var(--dark-red);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding-bottom: 1%;
}
.welcome .box-container .box .welcome-image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.welcome .box-container .box .welcome-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.welcome .box-container .box .welcome-image:hover img {
    transform: scale(1.1);
}
.welcome .box-container .box .welcome-content {
    padding: 2rem;
    padding-top: 2rem;
}
.welcome .box-container .box .welcome-content p {
    color: var(--light-color);
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0.5rem 0;
    line-height: 1.5;
}
/* welcome styling ends */

/* menu styling */
.our-menu {
    background: url(grafik/isra-e-SHJMuYQSRn8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
}
.our-menu .menu-heading {
    padding-top: 7rem;
}
.our-menu .menu-container {
    padding: 8rem 25%;
    text-align: center;
    top: 15%;
    margin: auto;
    position: relative;
    backdrop-filter: blur(6px);
}
.our-menu .menu-container .item {
    font-size: 2rem;
    font-weight: 350;
    line-height: 1.3;
    color: var(--light-color);
}
/* menu styling ends */


@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 1rem 2rem;
    }

    /* menu section media query */
    .our-menu {
        height: 80vh;
    }
}

@media (max-width: 768px){
    /* navbar media query */
    .icons #menu {
        display: inline-block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #fff;
        border-top: 0.1rem solid rgba(205,170,124,0.2);
        border-bottom: 0.1rem solid rgba(205,170,124,0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--dark-red);
    }

    /* hero section media query */
    .home {
        justify-content: center;
        height: 80vh;
    }
    .home .content-section {
        padding: 0;
    }
    .home .content-section h2 {
        font-size: 4rem;
        font-weight: 400;
    }
    
    /* welcome section media query */
    .welcome .box-container {
        flex-wrap: wrap;
    }
    .welcome .box-container .box {
        width: 100%;
    }
    
    /* menu section media query */
    .our-menu {
        height: 75vh;
    }
    .our-menu .menu-container {
        padding: 5rem 10%;
    }

}